@import 'variables/index';

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	z-index: $z-index-header;
}
