@import 'variables/sizes';

html,
body,
app-root,
ui-view,
main {
	display: block;
	height: 100%;
}

main {
	position: relative;
	padding-top: $header-height;

	.content {
		position: relative;
		z-index: 1;
	}
}
